{% extends 'registration/base_user_account.html' %}
{% load bootstrap %}

{% block content %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="login-form">
            {% if form.errors %}
                {% include 'partials/alert.html' with message="Your username and password did't match. Please try again." tag="danger" %}
            {% endif %}
            {% if user.is_authenticated %}
                {% include 'partials/alert.html' with message="Your account doesn't have access to this page. To proceed, please login with an account that has access." %}
            {% else %}
                {% include 'partials/alert.html' with message="Please login to see this page." tag="warning" %}
            {% endif %}
            {{ form.username | bootstrap }}
            {{ form.password | bootstrap }}
            <button type="submit" class="btn btn-black">Sign in</button>
            <input type="hidden" class="btn btn-secondary" name="next" value="{{ next }}">
        </div>
    </form>
    <hr>
    <div>
        <p style="text-align: center;"><a href="{% url 'password_reset' %}">Forgot password?</a></p>
    </div>

{% endblock %}