{% extends "base.html" %}
{% load bootstrap %}
{% block content %}
    {% if messages %}
        {% for m in messages %}
            <div class="alert alert-{% if m.tags %}{{ m.tags }}{% endif %}">{{ m }}</div>
        {% endfor %}
    {% endif %}
    <div class="card">
        <div class="card-header"><h3>Contact form</h3></div>
        <div class="card-body">
            <form action="{% url 'comment:contact' %}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    {% csrf_token %}
                    {% if form.errors %}
                        <br>
                        {% for field in form %}
                            {% for error in field.errors%}
                                <div class="alert alert-danger">
                                    <strong>{{ field.name }}:</strong> {{ error }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    {{ form|bootstrap }}
                    <input type="submit" value="Send" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
{% endblock %}